# HeapHammer Diagnostics Pack Code Owners
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default global code owner for all files
*       @DurdeuVlad

# Pack metadata and documentation
/packs/  @DurdeuVlad
/.github/ @DurdeuVlad
